* {
    box-sizing: border-box;
}

ul {
    list-style-type: square;
    line-height: 2em;
}

h1, h2, h3, h4, h5, h6, p, img, span {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    color: #fff;
    overflow: hidden;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    background: #191f26 url('./images/loading.gif') no-repeat center / auto 50% fixed;
    text-align: justify;
}

#wrapper {
    padding: 1.5em 0 1em 0;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: .2s;
    height: 100vh;
    border-radius: 0;
    transition-duration: 2s;
    background: #000000 url('../assets/images/background.jpg') no-repeat center / cover fixed;
}

#main {
    opacity: 1;
    transition-duration: 1s;
}

.transferring {
    opacity: 0 !important;
    transition-duration: 1s !important;
}

#header {
    display: flex;
    flex-direction: row;
    transition: 1s;
    height: 11rem;
}

#header #ray {
    width: 20%;
    max-width: 10em;
    overflow: hidden;
    padding: 1em;
}

#header #ray img {
    width: 100%;
    border: solid white 6px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(10, 10, 10, .9);
}

#header #no_life {
    padding: 1em 2em;
    background: url("../assets/images/crystal.png") repeat;
    background-size: 1em 1em;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .95;
    filter: brightness(1.06) drop-shadow(1px 1px 3px rgba(10, 10, 10, .7));
    font-weight: 600;
    width: 100%;
}

#header #no_life h1 {
    font-weight: 600;
    margin-bottom: 10px;
}

#header #no_life h4 {
    padding-left: 3px;
}

#header #links_wrapper {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    margin-bottom: -0.1rem;
}

#links_wrapper {
    margin-top: .5rem;
}

#main_nav {
    width: 100%;
    text-align: right;
    margin-bottom: -.5rem;
    margin-right: -1.5rem;
    -webkit-text-fill-color: rgba(0, 200, 255, .3);
}

a {
    -webkit-text-fill-color: rgba(0, 200, 255, .3);
}

#main_nav a::before {
    content: '✵ ';
    padding: 0 .6rem;
}

#main_nav a:first-child:before {
    content: '';
    padding: 0 .6rem;
}

.social_links {
    width: 8rem;
}

.social_links a {
    color: white;
    font-size: 1.7rem;
    padding-right: .5rem;
}

#header.mini {
    margin: -1.5em auto 2em;
    width: 100%;
    height: 3em;
    /* overflow: hidden; */
    border-radius: 0;
}

#header.mini #ray, #header.mini #no_life {
    padding: 0;
    display: flex;
}

#header.mini #ray {
    width: 5rem;
    align-items: center;
}

#header.mini #ray img {
    width: 2.8rem;
    height: 2.8rem;
    border: solid 3px white;
}

#header.mini #no_life h1 {
    width: 39vw;
    font-size: calc(39vw / 25);
    line-height: 2.5rem;
}

#header.mini #no_life h4 {
    width: 0;
    height: 0;
    opacity: 0;
}

#header.mini #no_life #links_wrapper {
    align-items: center;
}

#header.mini #no_life .social_links {
    width: 100%;
    text-align: right;
    margin-top: -2px;
}

#header.mini #no_life .social_links a {
    font-size: 1.2rem;
}

#header.mini #no_life #main_nav {
    margin-bottom: unset;
    margin-right: unset;
    width: calc(26rem - 5vw);
}

.section {
    position: relative;
    width: 80%;
    margin: 0 auto 1.5rem;
    background: none;
    padding: .2em 1em;
    /* border-radius: 3rem; */
}

.section.fixed {
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.section.fixed .wrapper {
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
}

.section h2 {
    margin: .2em 0;
    background: url(../assets/images/forst.png) repeat 0 0 / 2em auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 200, 255, .6);
    -webkit-text-fill-color: rgba(0, 200, 255, .6);
    filter: drop-shadow(1px 1px 3px rgba(10, 10, 10, .5));
}

.section .content:first-of-type {
    margin-top: 0;
}

.section .content {
    background: url("../assets/images/crystal.png") repeat;
    background-size: 1em 1em;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .95;
    filter: brightness(1.06) drop-shadow(1px 1px 3px rgba(10, 10, 10, .7));
    font-weight: 600;
    margin: .5em 0;
}

.section::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    filter: blur(3px) brightness(60%);
    background: url('../assets/images/background.jpg') no-repeat center / cover fixed;
}

::selection {
    /* background: url('../assets/images/background.jpg') no-repeat center / cover fixed; */
    background: rgba(10, 10, 10, .8);
    -webkit-text-fill-color: rgba(100, 100, 100, .6);
    -moz-text-fill-color: rgba(100, 100, 100, .6);
}

.showcase_wrapper {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: left;
    align-content: center;
    flex-direction: row;
    padding-top: 1rem;
    flex: 2;
    flex-wrap: wrap;
}

.showcase {
    display: flex;
    flex-direction: row;
    width: 45%;
    margin: 1rem auto 2.5rem .8rem;
}

.showcase .thumbnail {
    width: 17.1vw;
    height: 7.9vw;
    /* min-height: 10vw; */
    margin-right: 1.2rem;
    border-radius: 6px;
    overflow: hidden;
}

.showcase .text {
    width: 100%;
}

.showcase .text h3 {
    margin-top: -7px;
    margin-bottom: 3px;
}

.showcase .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .section::before {
        background: rgba(10, 10, 10, .6);
    }
    .transferring {
        opacity: 0;
    }
    .showcase {
        width: 100%;
        margin: 1rem auto;
        align-items: center;
    }
    .showcase .thumbnail {
        min-width: 9rem;
        min-height: 6rem;
    }
    .section.fixed {
        height: unset;
    }
}

@media screen and (max-width: 720px) {
    #wrapper {
        padding-bottom: 3rem;
    }
    #header {
        display: block;
    }
    #header:not(.mini) {
        height: 100vw;
        margin-bottom: 10vh;
        max-height: 90vh;
    }
    #header:not(.mini) #no_life h1 {
        text-align: center;
        padding-left: 0;
    }
    #header #ray {
        width: 50%;
        max-width: 50vw;
        margin: auto;
    }
    #header #no_life {
        padding: .2rem .5em 1rem;
    }
    #header #no_life * {
        text-align: center;
        font-size: 4vw;
    }
    #header #no_life h1 {
        font-size: 6.5vw;
        text-align: left;
        padding-left: 5vw;
    }
    #main_nav {
        margin-bottom: unset;
        margin-right: unset;
        width: unset;
    }
    .social_links {
        width: unset;
    }
    #header.mini {
        display: flex;
        padding: 0;
    }
    #header.mini #ray {
        width: 3rem;
        margin: auto .39rem;
    }
    #header.mini #no_life {
        width: calc(100% - 55px);
        display: flex;
        flex-direction: column;
        /* background: none;
        -webkit-background-clip: unset;
        background-clip: unset;
        -webkit-text-fill-color: unset; */
    }
    #header.mini #no_life h1 {
        color: white;
        height: 60%;
        font-size: 1.2rem;
        width: 100%;
        line-height: 160%;
        margin-bottom: 2px;
        /* margin-top: 4px; */
        display: block;
    }
    #header #links_wrapper {
        display: block;
        margin-top: 3rem;
    }
    #header #links_wrapper>* {
        display: inline;
    }
    #header.mini #no_life #links_wrapper {
        padding-top: 0;
        margin-top: -3px;
        height: 40%;
        text-align: right;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    #header.mini #no_life #links_wrapper .social_links, #header.mini #no_life #main_nav {
        display: inline-block;
        width: unset;
        height: 2em;
        line-height: 2em;
    }
    #header.mini #no_life #links_wrapper .social_links {
        margin-top: -5px;
    }
    #header.mini #no_life * {
        font-size: 2.9vw;
    }
    .section {
        width: 95%;
    }
}

@media (max-width: 400px) {
    .showcase {
        display: block;
        margin-bottom: 3rem;
    }
    .showcase .thumbnail {
        float: right;
        margin: 1.6rem 0 1rem 1rem;
    }
}