.home_list {
    max-width: 80em;
    vertical-align: top;
    display: flex;
    flex-wrap: wrap;
    list-style-type: square;
    align-items: flex-start;
    align-content: flex-start;
    vertical-align: top;
}
/* .home_list li::before {
    display: inline-block;
    content: "■";
    padding-right: 1rem;
    font-size: .8em;
} */
.home_list li {
    min-width: 20em;
    line-height: 2rem;
}
.skill_tree {
    width: 100%;
    max-width: 60rem;
    display: flex;
    flex-wrap: wrap;
}
.skill_tree > li {
    flex: auto;
    margin: 0 0 1rem 0;
    min-width: 12em;
}